

/* === MOBILE === */
@media(max-width: 769px){
  section.sobre{ /*Espaçamento da section*/
    padding-top: 80px;
  }
  #icon{
    display: block;
    justify-content:flex-start;
  }

   .logo{ display: none;
    font-size: 1.5em;
  }

  nav ul{
    position: fixed;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #202020;
    top: 120px;
    left: -100%;
    transition: all .5s;
  }

  .show{ /*Classe responsavel por exibir o menu mobile que é ativada com o JS*/
    left: 0;
  }

  ul li{
    margin: 10px;
  }
}

@media(max-width: 768px){
  

   .logo{ display: none;
    font-size: 1.5em;
  }
}

@media(max-width: 475px){
  .logo{ display: none;
    font-size: 1.5em;
  }
}

@media(max-width: 320px){
  .logo{
    font-size: 1.25em;
display: none;
  }

h1 {

    font-size:10px;
    position:absolute;
top:30%;
transform: translateY(-30%);
  }

    .logo{
display: none;
  }
}






@media (max-width: 768px) {

  h1 {
    font-size:80px ;
    position:absolute;
top:30%;
transform: translateY(-30%);
  }

.col-md-3 .card2{
  width: 100%;
}

.col-md-3 .card2 .face{
  width: 150px;
  height: 150px;
  transition: 0.5s;

}
.col-md-3 .card2 .face.face1{
  transform: translateY(150px);
}
.card2 .face .content img{
  width:100%;
  height:100px;
}
.progress2 {
  width: 90px;
  height: 90px;
  background:none;
  position: relative;
}

  }




@media (max-width:576px) { 
  

  .logo{
display: none;
  }
  #icon{
    display: block;
    justify-content:center;

  }
  .menu{
    width:100%;
  }
  nav ul{
    position: fixed;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #202020;
    top: 120px;
    left: -100%;
    transition: all .5s;
  }

video{
  
width: 100%;
margin-top: 35px;
}
  h1 {

    font-size:35px !important;
    position:absolute;
top:30%;
transform: translateY(-30%);
  }


.box{
  margin-bottom:10%;
}

.progre{
  display: none;
}

#hab .row{
  margin-bottom:5px;
  align-items: center;
  justify-content: center;
}
.progres-responsive{
  display: block;
}
.progres-responsive .card{
  margin-bottom:20px;
}
.whas img{
width:30px;
height:30px;
opacity: 0.5; 
}

footer ul li {
  width: 40px;
	height: 40px;
	margin: 0 20px;
}
} 